{% import '_includes/forms' as forms %}
{% import 'contentfield/_settings-macros' as macros %}

{% do view.registerAssetBundle('lenz\\contentfield\\assets\\settings\\ContentFieldSettingsAsset') %}

{{- forms.lightswitchField({
  label:        'Use as page template',
  instructions: 'When enabled, the template of this field replaces the default element template.',
  name:         'useAsPageTemplate',
  on:           field.useAsPageTemplate,
}) -}}

{{- forms.selectField({
  label:        'Compression',
  instructions: 'Uses gzip to reduce the size of the json payload when stored to the database.',
  name:         'compression',
  value:        field.compression,
  options: {
    always:  'Always compress (not recommended)',
    never:   'Never compress',
    archive: 'Compress drafts and revisions',
  }
}) -}}

{{- forms.field({
  label:        'Templates',
  instructions: 'Mark templates with the property `rootTemplate: true` to filter this list. Assign this field to entries to see additional settings.',
  warning:      field.hasSchemaErrors ? 'There have been errors while reading the templates. <a href="' ~ url('utilities/tcf-utilities', {tab: 'errors'}) ~ '">Show errors...</a>' : ''
}, macros.table(field)) -}}
