<div class="tcfUtility">
  <div class="tcfUtility--wrap">
    <div class="tcfUtility--tabs">
      {% include "_includes/tabs" %}
    </div>
    <div class="tcfUtility--content">
      {% block toolsContent %}{% endblock %}
    </div>
  </div>
</div>
