{% for title, sources in sourceTypes %}
  {% if sources|length %}
    <h2>{{ title }}</h2>
    <table class="tcfSourceTable">
      <thead>
        <tr>
          <th>Label</th>
          <th>Handle</th>
        </tr>
      </thead>
      <tbody>
        {% for source in sources %}
          <tr>
            <td class="tcfSourceList--sourceLabel">
              {{- source['label'] -}}
            </td>
            <td class="tcfSourceList--sourceHandle">
              {{- source['key'] -}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endfor %}
